/* body {
    margin: 0;
    height: 100vh;
    background-color:#ecc1a5 ;
    //overflow: hidden;
}

span {
    background: url('https://cdn1.iconfinder.com/data/icons/city-flat-2/512/house_architecture_residence_home_front_building-512.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100% {
        transform: translate(-50%,1000%);
        opacity: 0;
        filter: hue-rotate(720deg);

    }
} */
